* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: blue;
}

.main {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    background-color: rgb(219, 219, 219);
}

.big {
    height: 10000px;
}

.first-img {
    grid-column: 1/4;
}

.url-container {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 10px; */
}

.img-placeholder {
    height: 125px;
    width: 125px;
    background-color: brown;
}

.preview-window {
    height: 100%;
    width: 100%;
    background-color: beige;
    position: fixed;
    top: 0;
}

.img-preview {
    max-height: 100%;
    max-width: 100%;
}